body {
	border: 3px solid black;
	padding: 15px 0px 20px 25px;
	background-color: #ffffee;
	margin: 0px 0px 80px 0px;
}

img {
	border: 3px solid black;
}

h3 {
	font-style: italic;
	color: #887;
}

a:link {
	color: #900;
}

a:visited {
	color: #900;
}